<div *ngIf="loading" class="text-center loading">
  <p>Cargando perfil...</p>
</div>
<div *ngIf="!loading && user" class="about-container">
  <img src="/img/cloud.png" class="cloud">
  <app-ducky 
    [animation]="duckyAnimation"
    [movement]="duckyMovement"
    [size]="120">
  </app-ducky>
  <div class="card full-card">
    <div class="user-section">
      <div class="left-section">
        <img [src]="user.avatar_url" alt="Foto de perfil" class="avatar" />
        <h2>{{ user.name }}</h2>
        <a [href]="user.html_url" target="_blank" class="btn">Ver Perfil</a>
      </div>

      <div class="right-section">
        <div class="stats">
          <div>
            <h3>{{ user.public_repos }}</h3>
            <p>Repos</p>
          </div>
          <div>
            <h3>{{ user.followers }}</h3>
            <p>Seguidores</p>
          </div>
          <div>
            <h3>{{ user.following }}</h3>
            <p>Siguiendo</p>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="info-card">
      <h1>Juego propio - Color o Palabra</h1>
      <p>Aparecerá un color escrito, pero con la fuente de otro color.</p>
      <p>Abajo habrá botones, cada uno dirá un color distinto.</p>
      <p>
        El jugador deberá hacer click en el botón que represente el color de la fuente, no la
        palabra.
      </p>
      <p>En caso de que acierte, sigue jugando y acumula puntos. De lo contrario, pierde.</p>
      <img src="/img/game-example.png" />
    </div>
  </div>
</div>