.gallow {
  position: absolute;
  top: 22rem;
  left: 23rem;
  transform: translate(-50%, -50%);
  width: 500px;
}

.cloud {
  position: absolute;
  margin-top: 27rem;
  left: 12rem;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 110px;
}

.container {
  margin-top: 5rem;
  margin-left: 30rem
}

#word {
  font-family: 'Press Start 2P', cursive;
}

#letter-buttons button {
  width: 80px;
  height: 80px;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
}

.btn {
  background-color: #fbeed7;
  border-color: #eeb485;
  color: rgb(121, 121, 121);
}

.btn:hover {
  color: #eeb485;
}

.btn-incorrect {
  background-color: #fbd7d7;
  border-color: #ee8585;
  color: rgb(121, 121, 121);
}

.btn-incorrect:hover {
  color: #eeb485;
}
.btn-correct {
  background-color: #d7fbd7;
  border-color: #8fee85;
  color: rgb(121, 121, 121);
}

.btn-correct:hover {
  color: #eeb485;
}

.btn-restart {
  font-family: 'Press Start 2P', cursive;
  background-color: #eeb485;
  border-color: #e99e61;
  color: white;
}

