<nav class="navbar navbar-expand-lg navbar-dark py-4">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item me-4">
          <a class="nav-link" routerLink="home" routerLinkActive="active-link">Bienvenida</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" routerLink="about-me" routerLinkActive="active-link">Sobre mí</a>
        </li>
        @if(!logged){
        <li class="nav-item me-4">
          <a class="nav-link" routerLink="login" routerLinkActive="active-link">Ingreso</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" routerLink="register" routerLinkActive="active-link">Registro</a>
        </li>
        }
      </ul>
    </div>
    @if(logged){
    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          href="#"
          id="userDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img src="/img/user-icon.png" class="user-icon me-2" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li class="dropdown-item-text fw-bold">{{ user?.name }}</li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <button class="dropdown-item text-danger" (click)="logOut()">Cerrar sesión</button>
          </li>
        </ul>
      </li>
    </ul>
    }
  </div>
</nav>