.navbar {
  background-color: #4ba0c0;
}

.navbar .nav-link {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  color: white;
}

.nav-link:hover,
.active-link {
  color: #efd199 !important;
  border-bottom: 3px solid #efd199;
}

.user-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}