.modal {
  display: none;
}

.modal.d-block {
  display: block;
}

/* Opcional: un poco de padding extra y texto centrado */
.modal-body p {
  margin: 0;
  font-size: 1rem;
}

.btn {
  background-color: #eeb485;
  border-color: #e99e61;
}

.btn:hover {
  background-color: #edbb92;
}