/* Imagen de nube */
.cloud {
  position: absolute;
  margin-top: 32rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 225px;
}

/* Contenedor principal de la tarjeta de login */
.login-card {
  max-width: 900px;
  min-width: 350px;
  background: #fbeed7;
  box-sizing: border-box;
}

/* Estilo de los inputs cuando están activos */
input:focus {
  border-color: #f3b685;
  box-shadow: 0 0 0 0.2rem rgba(238, 180, 133, 0.138);
  outline: none;
}

/* Botón principal */
.btn-warning {
  background-color: #eeb485;
  border: none;
}

.btn-warning:hover {
  background-color: #d7a175;
}

/* Plumas */
.feather-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.feather {
  width: 70px;
  height: auto;
  cursor: pointer;
}

.feather:hover {
  transform: scale(1.1);
}