div {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

img {
  height: 12vh;
}

.enter-about-me {
  animation: enterAboutMe 3s forwards;
  transform: translate(-50%, -50%);
  left: -20%;
  top: 5%
}

@keyframes enterAboutMe {
  0% {
    left: -20%;
    top: 5%
  }

  60% {
    left: 60%;
    top: 5%
  }

  90% {
    left: 60%;
    top: 8%;
  }

  100% {
    left: 60%;
    top: 8%;
  }
}

.enter-register {
  animation: enterRegister 3s forwards;
  transform: translate(-50%, -50%);
}

@keyframes enterRegister {
  0% {
    left: 50%;
    bottom: -15%
  }

  30% {
    left: 50%;
    bottom: 3%
  }

  100% {
    left: 50%;
    bottom: 77%;
  }
}

.enter-login {
  position: absolute;
  animation: enterLogin 1s forwards;
}

@keyframes enterLogin {
  from {
    left: 50%;
    top: -20%;
    transform: translateX(-50%);
  }

  to {
    left: 50%;
    top: 29rem;
    transform: translate(-50%, -50%);
  }
}

.hidden {
  left: -50%
}