div {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

img {
  height: 12vh;
}

.enter-about-me {
  animation: enterAboutMe 3s forwards;
}

@keyframes enterAboutMe {
  from {
    left: -20%;
    top: 8%;
  }

  to {
    left: 90%;
    transform: translateX(-50%);
    top: 8%;
  }
}

.fall-about-me {
  position: absolute;
  animation: fallAboutMe 1s forwards;
}

@keyframes fallAboutMe {
  from {
    left: 90%;
    top: 8%;
    transform: translateX(-50%);
  }

  to {
    left: 90%;
    top: 30%;
    transform: translate(-50%, -50%);
  }
}

.enter-register {
  position: absolute;
  animation: enterRegister 2s forwards;
}

@keyframes enterRegister {
  from {
    left: 85%;
    transform: translateX(-50%);
    bottom: -20%;
  }

  to {
    left: 85%;
    transform: translateX(-50%);
    bottom: 53%;
  }
}

.hidden {
  left: -50%
}