.cloud {
  position: absolute;
  margin-top: 5rem;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 225px;
}

.login-card {
  max-width: 900px;
  min-width: 350px;
  background: #fbeed7;
  box-sizing: border-box;
}

input:focus {
  border-color: #f3b685;
  box-shadow: 0 0 0 0.2rem rgba(238, 180, 133, 0.138);
  outline: none;
}

.btn-warning {
  background-color: #eeb485;
  border: none;
}

.btn-warning:hover {
  background-color: #d7a175;
}