.status-bar {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
}

.status-bar div {
  color: #555;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.game-container {
  margin-top: 5rem;
}

.card {
  width: 20rem; /* un poco más grande */
  background-color: transparent !important; /* sin color de fondo */
  border: none; /* sin borde si querés */
  box-shadow: none; /* sin sombra */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3rem;
  margin-left: 3rem;
}

.card img {
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
}

.card-title {
  font-size: 1.5rem;
  font-family: 'Press Start 2P', cursive;
}

.btn {
  border-radius: 0%;
  color: rgb(121, 121, 121);
  margin-right: 40px;
  margin-left: 40px;
  padding: 15px 30px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.6rem;
  color: white;
  border: 5px solid
}

.btn-higher {
  background-color: #a1dc7c;
  border-color: #8bd15f;
}

.btn-higher:hover {
  background-color: #ade08d;
}

.btn-lower {
  background-color: #dc7c7c;
  border-color: #d15f5f;
}

.btn-lower:hover {
  background-color: #e38b8b;
}

.cloud {
  position: absolute;
  margin-top: 2rem;
  left: 16%;
  transform: translate(-50%, -50%);
  width: 225px;
  height: 100px;
}