<div class="game-container">
  <img src="/img/cloud.png" class="cloud" />
  <app-ducky [animation]="duckyAnimation" [movement]="duckyMovement"> </app-ducky>
  <div class="container mt-5 py-5">
    <p class="lead text-center">
      Puntaje: <strong>{{ score }}</strong>
    </p>
  
    <div class="row justify-content-center mb-4">

      <div class="col-12 col-md-5 d-flex justify-content-center">
        <div class="card shadow">
          <img
            *ngIf="currentCard"
            [src]="currentCard.image"
            class="card-img-top"
            alt="Carta actual"
          />
          <div class="card-body text-center">
            <h6 class="card-title">Actual</h6>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-5 d-flex justify-content-center">
        <div class="card shadow">
          <img *ngIf="!nextCard" src="/img/cards/back.png" class="card-img-top" alt="Carta oculta" />
          <img *ngIf="nextCard" [src]="nextCard.image" class="card-img-top" alt="Carta revelada" />
          <div class="card-body text-center">
            <h6 class="card-title">Siguiente</h6>
          </div>
        </div>
      </div>
    </div>
  
    <div class="text-center mb-4">
      <button class="btn btn-primary btn-higher" (click)="guess(true)">Mayor</button>
      <button class="btn btn-primary btn-lower" (click)="guess(false)">Menor</button>
    </div>
  
    <app-modal [message]="modalMessage" [isOpen]="isModalOpen"></app-modal>
  </div>
</div>
